body{
    /* Altura dos elementos */
    height: 100vh;
    /* Define o espaçamento externo */
    margin: 0;
    /* Define tamanho das letras */
    font-size: 15px;
    /* Define cor do texto */
    color: #666;}

/* Classe atribuídas a div no html */
.pimg1,.pimg2,.pimg3,.pimg4,.pimg5{
    /* Define posição do elemento */
    position: relative;
    /* Define a transparência de um elemento */
    opacity: 0.70;
    /* Define posição das imagens de fundo */
    background-position: center;
    /* Define tamanho da imagem */
    background-size: cover;
    /* Define como imagem será repetida */
    background-repeat: no-repeat;
    /* Define se imagem é fixa ou irá se mover junto 
        com o bloco */
    background-attachment: fixed;}

/* Classe atribuídas a div no html */
.pimg1{
    /* Define imagem de fundo */
    background-image: url(../_img/estações.webp);
    /* Define altura mínima do elemento */
    min-height: 100%;}

/* Classe atribuídas a div no html */
.pimg2{
    /* Define imagem de fundo */
    background-image: url(../_img/cidadeverão.jpg);
    /* Define altura mínima do elemento */
    min-height: 100%;}

/* Classe atribuídas a div no html */
.pimg3{
    /* Define imagem de fundo */
    background-image: url(../_img/cidadeoutono.webp);
    /* Define altura mínima do elemento */
    min-height: 100%;}

/* Classe atribuídas a div no html */
.pimg4{
    /* Define imagem de fundo */
    background-image: url(../_img/paisageminverno.jpg);
    /* Define altura mínima do elemento */
    min-height: 100%;}

/* Classe atribuídas a div no html */
.pimg5{
    /* Define imagem de fundo */
    background-image: url(../_img/paisagemprimavera.jpg);
    /* Define altura mínima do elemento */
    min-height: 100%;}

/* Classe atribuídas a div no html */
.section{
    /* Centraliza o texto horizontalmente */
    text-align: center;
    /* Define o espaçamento interno */
    padding: 50px 80px;}

/* Classe atribuídas a div no html */
.section-dark{
    /* Define cor de fundo */
    background-color: #282e34;
    /* Define cor do texto */
    color: #ddd;}

/* Classe atribuídas a div no html */
.ptext{
    /* Define posição do elemento */
    position: absolute;
    /* Define espaço acima do elemento */
    top: 50%;
    /* Conprimento dos elementos */
    width: 100%;
    /* Centraliza o texto horizontalmente */
    text-align: center;
    /* Define cor do texto */
    color: #000;
    /* Define tamanho das letras */
    font-size: 27px;
    /* Define espaço entre as letras */
    letter-spacing: 8px;
    /* Define como capitalizar o texto */
    text-transform: uppercase;}

/* Classe atribuídas a div no html */
.ptext .border{
    /* Define cor de fundo */
    background-color: #111;
    /* Define cor do texto */
    color: #fff;
    /* Define o espaçamento interno */
    padding: 5px;}

/* Classe atribuídas a div no html */
.ptext .border .trans{
    /* Define cor de fundo */
    background-color: transparent;}

/* @Media facilita as configurações dos elementos 
para diferentes tamanhos de tela */
/* Para a tela de 568 pixels de comprimento */
@media screen and (max-width: 568px){
    .pimg1,.pimg2,.pimg3,.pimg4{
        /* Define se imagem é fixa ou irá se mover junto 
        com o bloco */
        background-attachment: scroll;}}