/* Acerisco define elementos da págin em si */
*{
    /* Define o espaçamento externo */
    margin: 0;
    /* Define o espaçamento interno */
    padding: 0;
    /* Para garantir o formato da tela do computador, 
    que só poderá ser alterado pelo programador */
    box-sizing: border-box;}
body{
    /* Indica a forma que serão dispostos os elementos */
    display: flex;
    /* Define se os elementos devem ficar na mesma 
    linha ou não */
    flex-wrap: wrap;
    /* Define espaço inicial ocupado pelo elemento */
    flex: 1 1 100vw;
    /* Define o espaçamento externo */
    margin: 3px;}
header, nav, main, aside, footer{
    /* Define cor de fundo */
    background: #a1a1a1;
    /* Indica a forma que serão dispostos os elementos */
    display: flex;
    /* Define o espaçamento externo */
    margin: 3px;}
header{
    /* Altura dos elementos */
    height: 100px;
    /* Define espaço inicial ocupado pelo elemento */
    flex: 1 1 100vw;}

    /* Id's são refenciados por # */
header #logo{
    /* Indica a forma que serão dispostos os elementos */
    display: flex;
    /* Define espaço inicial ocupado pelo elemento */
    flex: 0 1 200px;
    /* Define cor de fundo */
    background: #c9c9c9;
    /* Alinha todos os elementos no centro, horizontalmente*/
    justify-content: center;
    /* Alinha todos os elementos no centro, verticalmente */
    align-items: center;}

/* Id's são refenciados por # */
#openMenu, #closeMenu{
    /* Define borda do elemento */
    border: none;
    /* Define cor de fundo */
    background: none;
    /* Define tamanho das letras */
    font-size: 30px;
    /* Especifica intensidade da fonte */
    font-weight: bold;
    /* Define o espaçamento interno */
    padding: 0px 5px 0px 5px;
    /* Altera cursor sobre o elemento */
    cursor: pointer;
    /* Indica a forma que serão dispostos os elementos */
    display: none;}
nav{
    /* Alinha todos os elementos no centro, horizontalmente*/
    justify-content: flex-end;
    /* Alinha todos os elementos no centro, verticalmente */
    align-items: center;
    /* Define espaço inicial ocupado pelo elemento */
    flex: 1 1 200px;}
nav a{
    /* Define o espaçamento externo */
    margin: 0 3%;
    /* Define tamanho das letras */
    font-size: 15pt;}
main{
    /* Altura dos elementos */
    height: calc(100vh - 224px);
    /* Define espaço inicial ocupado pelo elemento */
    flex: 20 1 500px;}
aside{
    /* Define espaço inicial ocupado pelo elemento */
    flex:  1 1 200px;}
footer{
    /* Altura dos elementos */
    height: 100px;
    /* Define espaço inicial ocupado pelo elemento */
    flex: 1 1 200vw;}
a{
    /* Define decoração do texto */
    text-decoration: none;
    /* Define cor do texto */
    color: inherit;}

/* @Media facilita as configurações dos elementos 
para diferentes tamanhos de tela */
/* Para a tela de 717 pixels de comprimento */
@media screen and (max-width: 717px){
    /* Id's são refenciados por # */
    #openMenu, #closeMenu{
        /* Indica a forma que serão dispostos os elementos */
        display: block;}

    /* Id's são refenciados por # */
    #openMenu{
        /* Define o espaçamento externo à esquerda do elemento */
        margin-left: auto;}

    /* Id's são refenciados por # */
    #closeMenu{
        /* Define posição do elemento */
        position: fixed;
        /* Define espaço à direita do elemento */
        right: 15px;
        /* Define espaço acima do elemento */
        top: 15px;}
    nav{
        /* Define posição do elemento */
        position: fixed;
        /* Define como serão dispostos os elementos, 
        nesse caso, um abaixo do outro, em coluna */
        flex-direction: column;
        /* Conprimento dos elementos */
        width: 100vw;
        /* Altura dos elementos */
        height: 100vh;
        /* Define cor de fundo */
        background-color: rgba(255, 255, 255, 0.8);
        /* Alinha todos os elementos no centro, horizontalmente*/
        justify-content: center;
        /* Alinha todos os elementos no centro, verticalmente */
        align-items: center;
        /* Define o espaçamento externo */
        margin: 0;
        /* Indica a forma que serão dispostos os elementos */
        display: none;
        /* Define a transparência de um elemento */
        opacity: 0;
        /* Usado para definir tempo das animações */
        transition: 0.3s;}
        nav a{
            /* Define o espaçamento externo */
            margin: 3%}
        main{
            /* Altura dos elementos */
            height: calc(100vh - 224px); } }
