/* Acerisco define elementos da págin em si */
* {
    /* Define o espaçamento externo */
    margin: 0;
    /* Define o espaçamento interno */
    padding: 0;
    /* Para garantir o formato da tela do computador, 
    que só poderá ser alterado pelo programador */
    box-sizing: border-box; }
header {
    /* Define cor de fundo */
    background-color: lightsteelblue;
    /* Define posição do elemento */
    position: fixed;
    /* Define espaço acima do elemento */
    top: -50px;
    /* Conprimento dos elementos */
    width: 100%;
    /* Define o espaçamento interno */
    padding: 10px;
    /* Define cor do texto */
    color: purple;
    /* Indica a forma que serão dispostos os elementos */
    display: block;
    /* Usado para definir tempo das animações */
    transition: top 0.3s; }
nav a {
    /* Define decoração do texto */
    text-decoration: none;
    /* Define borda do elemento */
    border: solid 2px black;
    /* Define o espaçamento interno */
    padding: 10px;
    /* Arredondamento da borda */
    border-radius: 15px;
    /* Define o espaçamento externo à 
    direita do elemento */
    margin-right: 20px;
    /* Define posição do elemento no eixo x
    (direita ou esquerda)*/
    float: right; }

/* hover é uma função que se ativa quando usuário 
colocar o mouse sobre o elemento */
nav a:hover {
    /* Define cor de fundo */
    background-color: blueviolet;
    /* Define cor do texto */
    color: white;
    /* Usado para definir tempo das animações */
    transition: 0.5s; }
main {
    /* Define tamanho das letras */
    font-size: 20px; }

/* Id de um elemento html */
#triathlon {
    /* Define borda do elemento */
    border: solid 5px black;
    /* Arredondamento da borda */
    border-radius: 15px;
    /* Define cor de fundo */
    background-color: beige;
    /* Define o espaçamento externo */
    margin: 20px 40px;
    /* Define o espaçamento interno */
    padding: 10px; }

/* Id de um elemento html */
#vencedores {
    /* Define borda do elemento */
    border: solid 5px black;
    /* Arredondamento da borda */
    border-radius: 15px;
    /* Define cor de fundo */
    background-color: beige;
    /* Define o espaçamento externo */
    margin: 20px 40px;
    /* Define o espaçamento interno */
    padding: 10px;
    /* Centraliza o texto horizontalmente */
    text-align: center; }

/* Classes atribuídas as divs no html */
.popups {
    /* Indica a forma que serão dispostos os elementos */
    display: flex;
    /* Define como serão dispostos os elementos, 
    nesse caso, um abaixo do outro, em coluna */
    flex-direction: row;
    /* Define o espaçamento externo à esquerda do elemento */
    margin-left: 300px; }

/* Classes atribuídas as divs no html */
.popups li {
    /* Define estilo de uma lista */
    list-style: none;
    /* Define o espaçamento externo abaixo do elemento */
    margin-bottom: 10px; }

/* Classes atribuídas as divs no html */
.content {
    /* Define posição do elemento */
    position: absolute;
    /* Define espaço acima do elemento */
    top: 100%;
    /* Define espaço à esquerda do elemento */
    left: 50%;
    /* Translate move o elemento */
    transform: translate(-50%, -50%);
    /* Conprimento dos elementos */
    width: 430px;
    /* Altura dos elementos */
    height: 370px;
    /* Centraliza o texto horizontalmente */
    text-align: center;
    /* Define cor de fundo */
    background-color: rgb(51, 68, 83);
    /* Define cor do texto */
    color: white;
    /* Para garantir o formato da tela do computador, 
    que só poderá ser alterado pelo programador */
    box-sizing: border-box;
    /* Define o espaçamento interno */
    padding: 10px;
    /* Define ordem de pilha do elemento */
    z-index: 100;
    /* Indica a forma que serão dispostos os elementos */
    display: none; }

/* Classes atribuídas as divs no html */
.content2 {
    /* Define posição do elemento */
    position: absolute;
    /* Define espaço acima do elemento */
    top: 100%;
    /* Define espaço à esquerda do elemento */
    left: 50%;
    /* Translate move o elemento */
    transform: translate(-50%, -50%);
    /* Conprimento dos elementos */
    width: 430px;
    /* Altura dos elementos */
    height: 360px;
    /* Centraliza o texto horizontalmente */
    text-align: center;
    /* Define cor de fundo */
    background-color: rgb(51, 68, 83);
    /* Define cor do texto */
    color: white;
    /* Para garantir o formato da tela do computador, 
    que só poderá ser alterado pelo programador */
    box-sizing: border-box;
    /* Define o espaçamento interno */
    padding: 10px;
    /* Define ordem de pilha do elemento */
    z-index: 100;
    /* Indica a forma que serão dispostos os elementos */
    display: none; }

/* Classes atribuídas as divs no html */
.content3 {
    /* Define posição do elemento */
    position: absolute;
    /* Define espaço acima do elemento */
    top: 100%;
    /* Define espaço à esquerda do elemento */
    left: 50%;
    /* Translate move o elemento */
    transform: translate(-50%, -50%);
    /* Conprimento dos elementos */
    width: 400px;
    /* Altura dos elementos */
    height: 300px;
    /* Centraliza o texto horizontalmente */
    text-align: center;
    /* Define cor de fundo */
    background-color: rgb(51, 68, 83);
    /* Define cor do texto */
    color: white;
    /* Para garantir o formato da tela do computador, 
    que só poderá ser alterado pelo programador */
    box-sizing: border-box;
    /* Define o espaçamento interno */
    padding: 10px;
    /* Define ordem de pilha do elemento */
    z-index: 100;
    /* Indica a forma que serão dispostos os elementos */
    display: none; }

/* Classes atribuídas as divs no html */
.img3 {
    /* Conprimento dos elementos */
    width: 320px; }

/* Classes atribuídas as divs no html */
.close-btn {
    /* Define posição do elemento */
    position: absolute;
    /* Define espaço à direita do elemento */
    right: 20px;
    /* Define espaço acima do elemento */
    top: 15px;
    /* Define cor de fundo */
    background-color: black;
    /* Define cor do texto */
    color: white;
    /* Arredondamento da borda */
    border-radius: 50%;
    /* Define o espaçamento interno */
    padding: 4px; }

/* Id de um elemento html */
#Submodalidades {
    /* Define borda do elemento */
    border: solid 5px black;
    /* Arredondamento da borda */
    border-radius: 15px;
    /* Define cor de fundo */
    background-color: beige;
    /* Define o espaçamento externo */
    margin: 20px 40px;
    /* Define o espaçamento interno */
    padding: 10px; }

/* Id de um elemento html */
#Submodalidades li {
    /* Define tipo do estilo de uma lista */
    list-style-type: none; }

/* Classes atribuídas as divs no html */
.accordion {
    /* Define cor de fundo */
    background-color: lightsteelblue;
    /* Define cor do texto */
    color: purple;
    /* Altera cursor sobre o elemento */
    cursor: pointer;
    /* Define o espaçamento interno */
    padding: 15px;
    /* Conprimento dos elementos */
    width: 100%;
    /* Define borda do elemento */
    border: none;
    /* Centraliza o texto horizontalmente */
    text-align: left;
    /* Os elementos são listados e organizados hierarquicamente */
    outline: none;
    /* Define tamanho das letras */
    font-size: 20px;
    /* Usado para definir tempo das animações */
    transition: 0.3s; }

/* Classes atribuídas as divs no html */
/* hover é uma função que se ativa quando usuário 
colocar o mouse sobre o elemento */
.active,
.accordion:hover {
    /* Define cor de fundo */
    background-color: blueviolet;
    /* Define cor do texto */
    color: white; }

/* Classes atribuídas as divs no html */
.panel {
    /* Define o espaçamento interno */
    padding: 0px 18px;
    /* Indica a forma que serão dispostos os elementos */
    display: none;
    /* Define cor de fundo */
    background-color: rgb(247, 247, 167);
    /* Overflow especifica quando o conteúdo de um elemento de 
    nível de bloco deve ser cortado, exibido com barras 
    de rolagem ou se transborda do elemento*/
    overflow: hidden; }
footer {
     /* Define cor de fundo */
    background-color: lightsteelblue;
    /* Define cor do texto */
    color: purple;
     /* Centraliza o texto horizontalmente */
    text-align: center;
    /* Define o espaçamento interno */
    padding: 20px 30px; }